{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-transform-react-jsx",
            {
              // "throwIfNamespace": false, // defaults to true
              "runtime": "automatic", // defaults to classic
              "importSource": "jsx-dom" // defaults to react
            }
        ]
    ]
}
