
{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | About {% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'about' %}">About</a></li>
            </ol>
        </nav>
    </div>
</nav>


<div class="bg-white border rounded-5">
    <section class="w-100 p-4 text-center pb-4">  
        <img src="{% static 'img/logo.png' %}" class="logo" alt=""> 
        <H1> Northwind Example Website</H1>
        <h5>
            <i><p>This website is created based on the Northwind Example database as an example company.</p></i>
            <p><b>Source Code:</b>  <a href="https://github.com/martinsmithumb/northwind">https://github.com/martinsmithumb/northwind</a></p> 
        </h5>
    </section>
</div>
{% endblock %}