{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}


<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table table-responsive">
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/warehouse.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Orders</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'orderhome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/shippers.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Shippers</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'shipperhome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>        
        <td>
          <div class="card" style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/suppliers.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Suppliers</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'supplierhome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card " style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/customers.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Customers</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'customerhome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>        
        <td>
          <div class="card" style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/products.jpg' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'producthome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <div style="height: 12rem;">
              <img class="card-img-top" src="{% static 'img/employees.png' %}" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{% url 'employeehome' %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src="{% static 'scripts/index_scripts-bundle.js'  %}"></script>
{% endblock %}