{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Shippers {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <tr>
            {% if shippers %}
                {% for shipper in shippers %}
                    <td>
                        <div class="card" style="width: 18rem;">
                        <div style="height: 12rem;">
                            <img class="card-img-top" src="{% static 'img/shippers.jpg' %}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{shipper.company_name}}</h5>
                            <p class="card-text">{{shipper.phone}}</p>
                            <div class="row mx-md-n5" >
                            {% for order in orders|slice:":10" %}
                                {% if order.ship_via_id == shipper.shipper_id  %}
                                    <div class="p-1 "><button type="button" class="btn btn-primary btn-md mx-auto">{{order.order_id}} {{order.ship_name}}</button></div>                                
                                {% endif %}
                            {% endfor %} 
                            </div>           
                            <a href="#" class="btn btn-secondary btn-sm">More Orders</a>
                        </div>
                        </div>
                    </td> 
                {% endfor %}
            {% endif %}
        </tr>
      </table>
    </div>
  </div>


    <div style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; height: 1000px; width: 1000px;">
            <canvas id="barChart"></canvas>
    </div>         
    
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        
        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            // type of chart
            type: 'bar',   

            // data for dataset
            data: {
                labels: {{ names | safe }},
                datasets: [{
                    label: 'Bar Stuff',
                    backgroundColor: 'rgb(0, 0, 255)',
                    borderColor: 'rgb(0, 0, 255)',
                    data: {{ counts }},
                }]
            },

            // Configuration options
            options: {}
        });
    </script>



    
            


{% endblock %}