{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | {{product.product_id}} {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-auto my-3">
        <div class="card" style="width: 30rem;">
            <table class="table">
                <tr>
                    <td><b>Product id</b></td>  
                    <td>{{product.product_id}}</td>    
                </tr>
                <tr>
                    <td><b>Product Name</b></td>
                    <td>{{product.product_name}}</td>
                </tr>
                <tr>
                    <td><b>Unit</b></td>
                    <td>{{product.unit}}</td>
                </tr>   
                <tr>
                    <td><b>Price</b></td>
                    <td>${{product.price}}</td>
                </tr>
                <tr>
                    <td><b>Available?</b></td>
                    <td>{% if product.available == 1 %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <td><b>Category</b></td>
                    <td>{{product.category}}</td>
                </tr>
                <tr>
                    <td><b>Supplier</b></td>
                    <td>{{product.supplier}}</td>
                </tr>
                <tr>
                    <td><b>Last updated</b></td>
                    <td>{{product.updated}}</td>
                </tr>        
            </table> 
        </div>
    </div>
</div>

{% endblock %}