{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Customers {% endblock %}

{% block content %}
    <!-- Sourced flexbox code from https://mdbootstrap.com/docs/standard/layout/flexbox/ -->
    <div class="bg-white border rounded-5">
        <section class="w-100 p-4 text-center pb-4">            
            <div class="d-flex flex-wrap bg-light">        
                {% if customers %}
                    {% for customer in customers %}
                        <div class="p-2 col-example">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{customer.company_name}}</h5>
                                    <div style="height: 12rem;">
                                        <img class="card-img-top" src="{% static 'img/profile.jpg' %}" alt="Card image cap">
                                    </div>
                                    <p class="card-text">{{customer.phone}}</p>
                                    <a href="{% url 'customer' customer.customer_id %}" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
      </div>

{% endblock %}