{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Suppliers {% endblock %}

{% block content %}
    <!-- Sourced flexbox code from https://mdbootstrap.com/docs/standard/layout/flexbox/ -->
    <div class="bg-white border rounded-5">
      <section class="w-100 p-4 text-center pb-4">            
          <div class="d-flex flex-wrap bg-light">     
          {% if suppliers %}
              {% for supplier in suppliers %}
                <div class="p-2 col-example">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <div style="height: 12rem;">
                            <img class="card-img-top" src="{% static 'img/placeholder.png' %}" alt="Card image cap">
                          </div>
                            <h5 class="card-title">{{supplier.supplier_name}}</h5>
                            <p class="card-text">{{supplier.phone}}</p>
                            <a href="{% url 'supplier' supplier.supplier_id %}" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
          {% endif %}        
        </div>
      </section>
    </div>
{% endblock %}