{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}



<div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <tr>
            {% if suppliers %}
                {% for supplier in suppliers %}
                    <td>
                        <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{supplier.supplier_name}}</h5>
                            <p class="card-text">{{supplier.phone}}</p>
                            <div class="row mx-md-n5" >
                            </div>  
                        </div>
                        </div>
                    </td> 
                {% endfor %}
            {% endif %}
        </tr>
      </table>
    </div>
  </div>




{% endblock %}