{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Orders {% endblock %}

{% block content %}

<div class="container-fluid mx-md" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Order #</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Date Shipped</th>
            <th scope="col">Customer</th>
            <th scope="col">Employee</th>
            <th scope="col">Shipper</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{order.order_id}}</th>
                <td>{{order.order_date}}</td>
                <td>{{order.shipped_date}}</td>
                <td>{{order.customer}}</td>
                <td>{{order.employee}}</td>
                <td>{{order.ship_via}}</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>

{% endblock %}