{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %} | Orders {% endblock %}

{% block content %}

<div class="container-fluid mx-md" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Date Shipped</th>
            <th scope="col">Customer</th>
            <th scope="col">Employee</th>
            <th scope="col">Shipper</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th><a href="{% url 'order' order.order_id %}">{{order.order_id}}</a></th>
                <td>{{order.order_date}}</td>
                <td>{{order.shipped_date}}</td>
                <td><a href="{% url 'customer' order.customer.pk %}">{{order.customer}}</a></td>
                <td><a href="{% url 'employee' order.employee.pk %}">{{order.employee}}</a></td>
                <td><a href="{% url 'shipper' order.ship_via.pk %}">{{order.ship_via}}</a></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>

{% endblock %}